body {
  width: 250px;
  height: 250px;
  background-color: pink;
  display: flex;
  justify-content: center;
}

p {
  display: inner-flex;
  margin: auto 10px;
  font-size: 22px;
  color: #0d1137;
  border-radius: 6px;
  border: 1px solid #0d1137;
  padding: 10px;
}
